@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: consolas;
}
.main_wrapper {
  background-color: #181824;
  height: 100vh;
}
.section_one {
  .circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    .logo {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #fff;
      border-radius: 50%;
      background: url(./sadik.jpg);
      background-size: cover;
      filter: brightness(1.2) contrast(1);
      border: 1px solid #000;
    }
    .text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: animateText 20s linear infinite;
      span {
        position: absolute;
        left: 50%;
        font-size: 19px;
        font-weight: 800;
        transform-origin: 0 125px;
        font-family: consolas;
        text-transform: uppercase;
        background: radial-gradient(
          circle farthest-side at center center,
          #ff0000 0%,
          #ffff00 25%,
          #05c1ff 50%,
          #ffff00 75%,
          #ff0000 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    @keyframes animateText {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(100deg);
      }
      100% {
        transform: rotate(-120deg);
      }
    }
  }
  .detail {
    .name_wrapper {
      display: flex;
      gap: 10px;
    }
    .name_text {
      animation: stroke 3s infinite alternate;
      font-size: 50px;
      font-weight: 800;
    }
    @keyframes stroke {
      0% {
        background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      50% {
        background: linear-gradient(to bottom right, #25cc0f 0%, #9e3212 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      75% {
        background: linear-gradient(
          to left,
          #ffff00 0%,
          #05c1ff 50%,
          #ffff00 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      100% {
        background: linear-gradient(
          to left,
          #008080 0%,
          #ffffff 25%,
          #05c1ff 50%,
          #ffffff 75%,
          #005757 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    h5 {
      font-size: 20px;
      font-weight: 700;
      color: #ccc;
      margin-left: 30px;
      @media screen and (max-width: 600px) {
        margin-left: 0px;
        text-align: center;
      }
    }
  }
}
.experience {
  color: #fff;
  .box_wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    .work_exp {
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 15px 10px;
      .ex_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        padding: 5px;
        background: linear-gradient(#ccc 0 0) padding-box,
          /*this is your grey background*/
            linear-gradient(to right, #9c20aa, #fb3570) border-box;
        color: #313149;
        border: 5px solid transparent;
        border-radius: 50px;
        animation: circle 3s infinite alternate;
        font-size: 20px;
        font-weight: 700;
      }
      .ex_name {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
      }
      @keyframes circle {
        0% {
          background: linear-gradient(#ccc 0 0) padding-box,
            linear-gradient(#f6b73c, #4d9f0c) border-box;
        }
        50% {
          background: linear-gradient(#ccc 0 0) padding-box,
            linear-gradient(to bottom right, #25cc0f 0%, #9e3212 100%)
              border-box;
        }
        75% {
          background: linear-gradient(#ccc 0 0) padding-box,
            linear-gradient(to left, #ffff00 0%, #05c1ff 50%, #ffff00 100%)
              border-box;
        }
        100% {
          background: linear-gradient(#ccc 0 0) padding-box,
            linear-gradient(
                to left,
                #008080 0%,
                #ffffff 25%,
                #05c1ff 50%,
                #ffffff 75%,
                #005757 100%
              )
              border-box;
        }
      }
    }
  }
}
