@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: consolas;
}
.section_one {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  .circle {
    position: relative;
    width: 250px;
    height: 250px;
    /* background-color: #ccc; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #fff;
      border-radius: 50%;
      background: url(./sadik.jpg);
      background-size: cover;
      filter: brightness(1.2) contrast(1);
      border: 1px solid #000;
    }
    .text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: animateText 20s linear infinite;
      span {
        position: absolute;
        left: 50%;
        font-size: 19px;
        font-weight: 800;
        transform-origin: 0 125px;
        font-family: consolas;
        text-transform: uppercase;
        background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    @keyframes animateText {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(100deg);
      }
      100% {
        transform: rotate(-120deg);
      }
    }
  }
  .detail {
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    h5 {
      font-size: 20px;
      font-weight: 700;
      color: #ccc;
    }
  }
}
.section_two {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  .detail {
    svg {
      width: 100%;
      height: 100%;
      text {
        animation: stroke 8s infinite alternate;
        stroke-width: 1;
        stroke: #365fa0;
        font-size: 50px;
      }
      @keyframes stroke {
        0% {
          fill: rgba(72, 138, 204, 0);
          stroke: rgba(54, 95, 160, 1);
          stroke-dashoffset: 25%;
          stroke-dasharray: 0 50%;
          stroke-width: 2;
        }
        70% {
          fill: rgba(72, 138, 204, 0);
          stroke: rgba(54, 95, 160, 1);
        }
        80% {
          fill: rgba(72, 138, 204, 0);
          stroke: rgba(54, 95, 160, 1);
          stroke-width: 3;
        }
        100% {
          fill: rgba(72, 138, 204, 1);
          stroke: rgba(54, 95, 160, 0);
          stroke-dashoffset: -25%;
          stroke-dasharray: 50% 0;
          stroke-width: 0;
        }
      }
    }
  }
}
